// Color variables for the application
:root {
  --primary-color: #01D167;
  --primary-background-color: #0C365A;
  --secondary-background-color: #EDF3FF;
  --accordion-background-color: #F5F9FF;

  --light-grey-color: #c4c4c4;
  --gray-text-color: #7c8ba1;
  --dark-blue-color: #325BAF;
  --light-blue-color: #23CEFD;

  --mobile-breakpoint: 768px;

  /* Filters */
  --primary-color-filter: brightness(0) saturate(100%) invert(57%) sepia(67%) saturate(488%) hue-rotate(84deg) brightness(94%) contrast(89%);
  --white-color-filter: brightness(0) invert(1);
  --light-blue-color-filter: invert(65%) sepia(75%) saturate(1753%) hue-rotate(177deg) brightness(103%) contrast(101%);
  --light-gray-color-filter: brightness(0) saturate(100%) invert(82%) sepia(0%) saturate(7478%) hue-rotate(182deg) brightness(92%) contrast(85%);
}

$mobile-breakpoint: 768px;