// Color variables for the application
:root {
  --primary-color: #01D167;
  // --secondary-color: #FFC107;
  // --text-color: #333333;
  --primary-background-color: #0C365A;

  --white-color: #FFFFFF;
  --black-color: #000000;
  --grey-color: #808080;
  --light-grey-color: #D3D3D3;
  --dark-grey-color: #A9A9A9;

  --mobile-breakpoint: 768px;
}

// Optional: SCSS variables if you ever need
$primary-color: #01D167;
// $secondary-color: #FFC107;
// $text-color: #333333;
$primary-background-color: #0C365A;

$mobile-breakpoint: 768px;
