// Color variables for the application
:root {
  --primary-color: #01D167;
  // --secondary-color: #FFC107;
  // --text-color: #333333;
  --primary-background-color: #0C365A;

  --light-grey-color: #c4c4c4;

  --gray-text-color: #7c8ba1;

  --mobile-breakpoint: 768px;
}

// Optional: SCSS variables if you ever need
// $primary-color: #01D167;
// $secondary-color: #FFC107;
// $text-color: #333333;
// $primary-background-color: #0C365A;

// $mobile-breakpoint: 768px;
